
<div class="container"> 
  <div class="row" style="padding-top:25px;">
    <div class="col-sm-6">
        <span>Component</span><br/>
   <div class="lstBox">     
     <ul>
     <li *ngFor="let s of components;let a=index; ">
       <label><input type="checkbox" checked="true" name="{{s}}"  (change)="updateGridView($event)"/>
        {{s}}
      </label>
     </li>
    </ul>
   </div>
    </div>
  </div>
  <div class="row" style="padding-top:25px;">
      <div class="col-sm">
          <div class="form-group">                      
          <label for="cabinet">Customer</label>
          <select class="form-control" id="cabinet" (change)="onCustomerSelect($event.target.value)" >
             <option value="-1">-- Select --</option>
             <option *ngFor="let c of Customers" value="{{c.CustomerID}}">{{c.CustomerName}}</option>
          </select>
        </div>
        </div>
    <div class="col-sm">
      <div class="form-group">
                  
      <label for="cabinet">Cabinet</label>
      <select class="form-control" id="cabinet">
         
        <option *ngFor="let cb of Cabinets" value="{{cb.BeverageCabinetId}}">{{cb.BeverageCabinetName}}</option>
         
      </select>
    </div>
    </div>
        <div class="col-sm">
      <div class="form-group">
        <label for="fromdate">Date Range</label>
        <input type="text" id="fromdate"  
        value="{{ bsRangeValue[0] | date:'yyyy/MM/dd'}} - {{ bsRangeValue[1] | date:'yyyy/MM/dd'}}"
       bsDaterangepicker [(bsValue)]="bsRangeValue" (bsValueChange)="getData($event)"  class="form-control" />
     
        <!-- <input required class="form-control" type="text"  name='dateSelected' id="dateSelected" [(ngModel)]="model.dateSelected" #dateSelected="ngModel" /> -->
      </div>
    </div>
      <div class="col-sm">
          <div class="form-group">
              <!-- <button type="submit" class="btn btn-primary" style="margin-top:30px;">Submit</button> -->
            <button type="button" (click)="getData($event)" class="btn btn-primary" style="margin-top:30px;">Submit</button>
          </div>
        </div>
  </div>
  
  <div class="row" *ngIf="isDataAvailable"> 
<div class="table-responsive">
 <table class ="table  table-striped table-hover table-bordered" > 
     <thead>
       <tr>
         <th></th>
         <ng-container *ngFor="let s of _object.keys(RemoteDiagnosis[0].Data);let a=index;">
            <th [attr.colspan]="_object.keys(RemoteDiagnosis[0].Data[_object.keys(RemoteDiagnosis[0].Data)[a]]).length" style="text-align:center;">{{_object.keys(RemoteDiagnosis[0].Data)[a]}}</th>      
          </ng-container>
       </tr>
       <tr >
         <th>TimeStamp</th>  
         <!--<th >{{_object.keys(RemoteDiagnosis[0].Data)[a]}}</th>-->
         <ng-container *ngFor="let s of _object.keys(RemoteDiagnosis[0].Data);let a=index;">
          <th  *ngFor="let header of _object.keys(RemoteDiagnosis[0].Data[_object.keys(RemoteDiagnosis[0].Data)[a]]);let i=index;">{{header}}</th>      
        </ng-container>
        <!-- <th *ngFor="let x of _object.keys(RemoteDiagnosis[0].Data[_object.keys(RemoteDiagnosis[0].Data)[a]]);let i=index;">{{_object.keys(RemoteDiagnosis[0].Data)[1]}}<br/>{{x}}</th>-->
       </tr>            
     </thead>
      <tbody>
      <tr *ngFor="let d of RemoteDiagnosis;let k=index;">
    <td>{{RemoteDiagnosis[k].time}}</td>
    <ng-container *ngFor="let s of _object.keys(RemoteDiagnosis[0].Data);let a=index;">
    <td *ngFor="let x of _object.keys(RemoteDiagnosis[k].Data[_object.keys(RemoteDiagnosis[0].Data)[a]]);let i=index;">{{  RemoteDiagnosis[k].Data[_object.keys(RemoteDiagnosis[0].Data)[a]][x] }}</td>
  </ng-container>
    <!-- <td *ngFor="let x of _object.keys(RemoteDiagnosis[k].Data[_object.keys(RemoteDiagnosis[0].Data)[1]]);let i=index;">{{  RemoteDiagnosis[k].Data[_object.keys(RemoteDiagnosis[0].Data)[1]][x] }}</td> -->
    </tr>
     </tbody>  
    </table> 
  </div>
</div>
</div>